{% extends "base.html" %}

{% block title %}Exercise{% endblock %}
{% block content %}
    <div class="card p-5">
    <div class="d-flex justify-content-center flex-column">
        <div class="card mb-3" style="background-image: url('https://source.unsplash.com/1600x900/?fitness,exercise'); background-size: cover; background-position: center;">
            <div class="card-body">
                <h5 class="card-title">Personalized Exercise</h5>
                <a href="/personalized-exercise" class="btn btn-primary">Go</a>
            </div>
        </div>
        <div class="card mb-3" style="background-image: url('https://source.unsplash.com/1600x900/?arm,exercise'); background-size: cover; background-position: center;">
            <div class="card-body">
                <h5 class="card-title">Arm Exercise</h5>
                <a href="/arm-exercise" class="btn btn-primary">Go</a>
            </div>
        </div>
        <div class="card mb-3" style="background-image: url('https://source.unsplash.com/1600x900/?leg,exercise'); background-size: cover; background-position: center;">
            <div class="card-body">
                <h5 class="card-title">Leg Exercise</h5>
                <a href="/leg-exercise" class="btn btn-primary">Go</a>
            </div>
        </div>
        <div class="card mb-3" style="background-image: url('https://source.unsplash.com/1600x900/?belly,fat,reduce'); background-size: cover; background-position: center;">
            <div class="card-body">
                <h5 class="card-title">Belly and Back Fat Reduce</h5>
                <a href="/abdominal-exercise" class="btn btn-primary">Go</a>
            </div>
        </div>
        <div class="card mb-3" style="background-image: url('https://source.unsplash.com/1600x900/?cardio,exercise'); background-size: cover; background-position: center;">
            <div class="card-body">
                <h5 class="card-title">Cardio</h5>
                <a href="/cardio" class="btn btn-primary">Go</a>
            </div>
        </div>
        <div class="card mb-3" style="background-image: url('https://source.unsplash.com/1600x900/?cardio,exercise'); background-size: cover; background-position: center;">
            <div class="card-body">
                <h5 class="card-title">Extras</h5>
                <a href="/extra" class="btn btn-primary">Go</a>
            </div>
        </div>
    </div>
</div>
    {% endblock %}