{% extends "base.html" %}

{% block title %}Food1{% endblock %}

{% block content %}

    <div class="card p-5">
    <div class="d-flex justify-content-center flex-column">
        <div class="card mb-3" style="background-image: url('https://source.unsplash.com/1600x900/?food,meal'); background-size: cover; background-position: center;">
            <div class="card-body">
                <h5 class="card-title">Personalized Meal</h5>
                <a href="/personalized-meal" class="btn btn-primary">Go</a>
            </div>
        </div>
        <div class="card mb-3" style="background-image: url('https://source.unsplash.com/1600x900/?breakfast'); background-size: cover; background-position: center;">
            <div class="card-body">
                <h5 class="card-title">Breakfast</h5>
                <a href="/breakfast" class="btn btn-primary">Go</a>
            </div>
        </div>
        <div class="card mb-3" style="background-image: url('https://source.unsplash.com/1600x900/?lunch'); background-size: cover; background-position: center;">
            <div class="card-body">
                <h5 class="card-title">Lunch</h5>
                <a href="/lunch" class="btn btn-primary">Go</a>
            </div>
        </div>
        <div class="card mb-3" style="background-image: url('https://source.unsplash.com/1600x900/?dinner'); background-size: cover; background-position: center;">
            <div class="card-body">
                <h5 class="card-title">Dinner</h5>
                <a href="/dinner" class="btn btn-primary">Go</a>
            </div>
        </div>
        <div class="card mb-3" style="background-image: url('https://source.unsplash.com/1600x900/?snacks'); background-size: cover; background-position: center;">
            <div class="card-body">
                <h5 class="card-title">Snacks</h5>
                <a href="/snacks" class="btn btn-primary">Go</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}