{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}
{% block content %}
    <h1 class="display-4 text-center mt-5">Welcome {{ user.fname }}!</h1>
    
    <div class="container min-vh-100 d-flex justify-content-center align-items-center ">
        <div class="row">
            <div class="col-sm-6">
                <div class="card ">
                    <div class="card-body">
                        <h5 class="card-title">Dashboard</h5>
                        <p class="card-text">Current Weight: {{ user.current_weight }} kg</p>
                        <p class="card-text">Target Weight: {{ user.target_weight }} kg</p>
                        <p class="card-text">Calories Burnt Today: {{0 }} kcal</p>
                        <p class="card-text">Glass of Water Consumed: {{ 0}} glasses</p>
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#detailsModal">
                            See More Details
                        </button>
                        <div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="detailsModalLabel">Details</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Current Weight: {{ user.current_weight }} kg</p>
                                        <p>Target Weight: {{ user.target_weight }} kg</p>
                                        <p>BMI: {{ bmi }}</p>
                                        <p>BMR: {{ bmr }}</p>
                                        <p class="text-muted">You are {{bmi_category}}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card m-3">
                    <div class="card-body">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container ">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <a href="/complain">
                    <div class="d-flex flex-column align-items-center">
                        <div class="circle">
                            <img src="https://img.icons8.com/color/48/000000/water-bottle.png" alt="water" class="rounded-circle">
                        </div>
                        <div class="text-center ">File a Complain</div>
                    </div>
                </a>
            </div>
            <div class="col d-flex justify-content-center">
                <a href="/exercise">
                    <div class="d-flex flex-column align-items-center m-3">
                        <div class="circle">
                            <img src="https://img.icons8.com/color/48/000000/running.png" alt="exercise" class="rounded-circle">
                        </div>
                        <div class="text-center ">Exercise</div>
                    </div>
                </a>
            </div>
            <div class="col d-flex justify-content-center">
                <a href="/meal">
                    <div class="d-flex flex-column align-items-center m-3">
                        <div class="circle">
                            <img src="https://img.icons8.com/color/48/000000/bed.png" alt="sleep" class="rounded-circle">
                        </div>
                        <div class="text-center">Sleep</div>
                    </div>
                </a>
            </div>
            <div class="col d-flex justify-content-center">
                <a href="/reminder">
                    <div class="d-flex flex-column align-items-center m-3">
                        <div class="circle">
                            <img src="https://img.icons8.com/color/48/000000/scale.png" alt="weight" class="rounded-circle">
                        </div>
                        <div class="text-center">Reminder</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="alert alert-secondary text-center text-warning" role="alert">
            <p id = "qu">Fortune and love favor the brave.</p>
        </div>
    </div>
    <div class="container text-center mt-5 mb-5">
        <a href="/reminder">
            <button type="button" class="btn btn-secondary">Today's Reminders</button>
        </a>
    </div>
    <script>
        function qt(){
    const q = [
        "The less we deserve good fortune, the more we hope for it.",
        "Fortune and love favor the brave.",
        "Formal education will make you a living; self-education will make you a fortune.",
        "Live as brave men; and if fortune is adverse, front its blows with brave hearts.",
        "Fortune favors the prepared mind.",
        "Fortune befriends the bold.",
        "Come what may, all bad fortune is to be conquered by endurance.",
        "There are good and bad times, but our mood changes more often than our fortune.",
        "Fortune favors the audacious.",
        "From my tribe I take nothing, I am the maker of my own fortune.",
        "Diligence is the mother of good fortune.",
        "Friends and acquaintances are the surest passport to fortune."
        ]

    document.getElementById("qu").textContent = q[Math.floor(Math.random() * q.length)];
    
}
window.onload = qt;
    </script>
    

{% endblock %}