<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/styles.css') }}">
    <title>Home</title>
</head>
<body>
    <nav>
        <div class="logo">LOGO</div>
        <div class="navitem">
            <a href="login.html">LogIn</a>
            <a href="signup.html">Sign Up</a>
        </div>
    </nav>
    <div class="front">
        <h1>Hello!</h1>
    </div>
</body>
</html>